<div id="newWell" class="well">

  <%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @contact.first_name %>
  </div>
  <br>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @contact.last_name %>
  </div>
  <br>
  <div>
    <%= label_tag :number %>
    <%= text_field_tag :number, @contact.number %>
  </div>
  <br>
  <div>
    <%= label_tag :"Greek God House" %>
    <%= text_field_tag :bio, @contact.bio %>
  </div>
  <br>
  <div>
    <%= submit_tag "Update Student" %>
  </div>
<% end %>

</div>

