
  <div class="row">
    <% @contacts.each_slice(3) do |three_contacts| %>

      <% three_contacts.each do |contact| %>  
        <div class="col-md-4">
          <div id="indexWell" class="well">
            <h4><a href="/contacts/<%= contact.id %>"><font color="black"><%= contact.full_name %></font></a></h4>
            <p>Number: <%= contact.number %></p>
            <p>Greek God House: <%= contact.bio %></p>
            <p>Id: <%= contact.id %></p>
          </div>
        </div>    
          <% end %>
    <% end %>
  </div>
